---
import { getCollection, render } from "astro:content";
import dayjs from "dayjs";
import PostLayout from "~/layouts/PostLayout.astro";
import Comment from "~/components/Comment";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { slug } = Astro.params;
const { Content } = await render(post);

// 计算阅读时间
const words = post.body?.split(" ").length ?? 0;
const minutes = Math.ceil(words / 200);

---

<PostLayout
  snapshot={post.id}
  title={post.data.title}
  description={post.data.description}
  path={`/post/${slug}`}
  pubDate={post.data.pubDate.toString()}
>
  <h1>{post.data.title}</h1>
  <p class="text-default-500">
    {dayjs(post.data.pubDate).format("MM-DD")}. {minutes} 分钟
  </p>
  <Content />
  {post.data.comment &&  <Comment client:only="react" />}
</PostLayout>
