---
import { getCollection, render } from "astro:content";
import dayjs from "dayjs";
import PostLayout from "~/layouts/PostLayout.astro";
import Comment from "~/components/Comment";
import { Toc } from "~/components/Toc";
import { replaceSlash } from "~/utils/common";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((post) => ({
    params: { slug: replaceSlash(post.id) },
    props: { post },
  }));
}

const { post } = Astro.props;
const { slug } = Astro.params;
const { Content, headings, remarkPluginFrontmatter } = await render(post);

// 计算阅读时间
const words = post.body?.replace(/\s+/g, "").length ?? 0;
const minutes = Math.ceil(words / 200);
---

<PostLayout
  snapshot={replaceSlash(post.id)}
  title={post.data.title}
  description={post.data.description}
  path={`/post/${slug}`}
  pubDate={post.data.pubDate.toString()}
>
  <div
    onclick="window.history.back()"
    class="text-default-400 cursor-pointer py-6 hover:text-default-600 transition-colors text-lg"
  >
    cd ..
  </div>
  <h1 transition:name={`post-index-id-${replaceSlash(post.id)}`}>
    {post.data.title}
  </h1>
  <p class="text-default-500">
    {dayjs(post.data.pubDate).format("MM-DD")}. {
      remarkPluginFrontmatter.minutesRead
    } 分钟
  </p>
  {post.data.toc && <Toc toc={headings} />}
  <Content />
  {post.data.comment && <Comment client:only="react" />}
</PostLayout>
