---
import HomeLayout from "~/layouts/HomeLayout.astro";
import Contact from "~/components/Contact";
import { Config } from "~/config";
---

<HomeLayout
  title="友链"
  description="感谢认识他们"
  file=""
  url=""
  headings={[]}
  frontmatter={{
    file: "",
    url: undefined,
    title: "友链",
    description: "感谢认识他们",
  }}
  rawContent={() => ""}
  compiledContent={() => Promise.resolve("")}
>
  <h1>友链</h1>
  <p>在这里我遇见了新朋友</p>

  <div class="space-x-3 gap-3 flex">
    {
      Config.partnerLinks.map((link) => {
        return (
          <div
            key={link.name}
            class="relative  max-w-fit min-w-min flex items-center justify-between box-border whitespace-nowrap px-2 h-11 text-small rounded-full bg-default/40 text-default-700 pointer gap-2"
          >
            <a class="avatar" href={link.url}>
              <div class=" ring-offset-base-100 w-8 rounded-full ring ring-offset-2 text-center leading-8">
                {link.avatar ? (
                  <img src={link.avatar} class="!m-0" />
                ) : (
                  link.name
                )}
              </div>
            </a>
            <a href={link.url}>{link.name}</a>
          </div>
        );
      })
    }
  </div>
  <div class="w-full pt-40">
    <Contact client:visible />
  </div>
</HomeLayout>
