---
import dayjs from "dayjs";
import { Config } from "~/config";
export interface Props {
  title?: string;
  description?: string;
  snapshot?: string;
  path?: string;
  pubDate?: string;
}

const {
  title = Config.base.title,
  description = Config.base.description,
  snapshot,
  path,
  pubDate,
} = Astro.props;

const articleTimeFormat = dayjs(pubDate).format("YYYY-MM-DD");
---

<link rel="sitemap" href="/sitemap-index.xml" />
<title>{title}</title>
<!-- 开放图谱标签 -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="article:author" content={Config.base.author} />
{
  description && (
    <>
      <meta name="description" content={description} />
      <meta property="og:description" content={description} />
      <meta name="twitter:description" content={description} />
    </>
  )
}
{
  path && (
    <>
      <meta content={`${Config.base.baseUrl}${path}`} property="og:url" />
      <meta property="og:site_name" content={`${Config.base.baseUrl}${path}`} />
    </>
  )
}
{
  snapshot && (
    <>
      <meta
        property="og:image"
        content={`${Config.base.baseUrl}/post/${snapshot}.png`}
      />
      <meta property="og:image:alt" content={description} />
      <meta
        name="twitter:image"
        content={`${Config.base.baseUrl}/post/${snapshot}.png`}
      />
      <meta name="twitter:card" content="summary_large_image" />
    </>
  )
}
{
  pubDate && (
    <>
      <meta property="article:published_time" content={articleTimeFormat} />
      <meta property="article:modified_time" content={articleTimeFormat} />
    </>
  )
}
