---
import { ClientRouter } from "astro:transitions";
import "@fontsource/noto-sans";
import "../styles/global.css";

export interface Props {
  title?: string;
  description?: string;
  snapshot?: string;
  path?: string;
  pubDate?: string;
  // biome-ignore lint/suspicious/noExplicitAny: <explanation>
  schema?: any;
}
import RiverBackground from "~/components/RiverBackground";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
import Navbar from "~/components/Navbar";
import type { Menu } from "~/types/config";
import { removeSlash } from "~/utils/common";
import { Config } from "~/config";
import Footer from "~/components/Footer.astro";
import SEO from "~/components/SEO.astro";
import { generateWebSiteSchema, generatePersonSchema } from "~/utils/schema";

const processMenuItem = (menu: Menu) => {
  if (!menu.children?.length) {
    return {
      title: menu.title,
      url: menu.url,
      icon: menu.icon,
    };
  }

  const [firstChild] = menu.children;
  return {
    title: menu.title,
    url: `/${removeSlash(menu.url)}-${removeSlash(firstChild.url)}/${menu.key}`,
    key: menu.key,
  };
};

const mainMenus = Config.menus.map(processMenuItem);
import { themeAtom } from "~/store";


const isDev = process.env.NODE_ENV === "development";
---

<html lang="zh-CN" data-theme="night">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <SEO {...Astro.props} />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(generateWebSiteSchema())}
    />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(generatePersonSchema())}
    />
    {
      Astro.props.schema && (
        <script
          type="application/ld+json"
          set:html={JSON.stringify(Astro.props.schema)}
        />
      )
    }
    <SpeedInsights />
    <Analytics debug={isDev} />
    <ClientRouter />

  </head>
  <body class="h-screen flex flex-col">
    <RiverBackground client:only="react" />
    <Navbar brandTitle={Config.base.title} menus={mainMenus}/>
    <section class="flex flex-col bg-base-100 text-primary flex-1">
      <slot />
    </section>
    <Footer />
  </body>
</html>

