---
import AppHeader from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import Prose from "~/components/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
import { animation } from "~/utils/common";

export interface Props {
  title?: string;
  description?: string;
  snapshot?: string;
  path?: string;
  pubDate?: string;
}

const { title, description, path, pubDate, snapshot } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  path={path}
  pubDate={pubDate}
  snapshot={snapshot}
>
  <AppHeader />
  <main class="px-6 md:px-0 flex-1 py-16 w-full" transition:animate={animation}>
    <Prose>
      <slot />
    </Prose>
  </main>
  <Footer />
</BaseLayout>
